<div class="container mx-auto mt-10 px-5 flex">Home Page</div>

<% if user_signed_in? %>
  <div class="container mx-auto mt-28 px-5 flex">
    <h1>Factories</h1>
  </div>

  <div class="grid grid-cols-3 gap-4 px-5 mt-10">
    <div class="shadow-md p-3">
      <strong>IRON</strong>

      <span>Level: <%= current_user.iron_level %> -</span>
      <span>Production Rate: <%= current_user.iron_rate %>/s</span>
      <span>
        Upgrade Cost:
        <%= current_user.iron_upgrade_cost %>
      </span>
    </div>
    <div class="shadow-md p-3">
      <strong>COPPER</strong>

      <span>Level: <%= current_user.copper_level %> -</span>
      <span>Production Rate: <%= current_user.copper_rate %>/s</span>
      <span>
        Upgrade Cost:
        <%= current_user.copper_upgrade_cost %>
      </span>
    </div>
    <div class="shadow-md p-3">
      <strong>GOLD</strong>

      <span>Level: <%= current_user.gold_level %> -</span>
      <span>Production Rate: <%= current_user.gold_rate.round(2) %>/s</span>
      <span>
        Upgrade Cost:
        <%= current_user.gold_upgrade_cost %>
      </span>
    </div>
  </div>
<% end %>
